<div class="leaderboard-wrapper">
    <table>
        <tr>
            <td>
                <select id="game-type" [(ngModel)]="selectedGameType">
                    <option value="empty">- Select game type -</option>
                    <option value="pool">Pool</option>
                    <option value="air-hockey">Air hockey</option>
                    <option value="foosball">Foosball</option>
                </select>
            </td>
            <td [hidden]="selectedGameType == 'empty'">
                <select id="game-mode">
                    <option>- Select game mode -</option>
                    <option value="solo">Solo</option>
                    <option value="duo" [hidden]="selectedGameType == 'air-hockey'">Duo</option>
                </select>
            </td>
        </tr>
    </table>
    
    
    <table>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>MMR</th>
        </tr>
        <tr *ngFor="let entry of leaderboardData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.mmr }}</td>
        </tr>
    </table>
</div>
