<div>
    <h2 class="d-flex justify-content-center dialogGamesTitle">Choose your game</h2>
    <div class="d-flex justify-content-center">
        <button mat-button mat-dialog-close class="medium-button" mat-dialog-close="Pool">Pool</button>
    </div>
    <div class="d-flex justify-content-center">
        <p class="p-test2">1 player waiting for 1v1</p>
    </div>
    <div class="d-flex justify-content-center">
        <p class="p-test2">2 player waiting for 2v2</p>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-button mat-dialog-close class="medium-button" mat-dialog-close="Foosball">Foosball</button>
    </div>
    <div class="d-flex justify-content-center">
        <p class="p-test2">2 players waiting for 1v1</p>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-button mat-dialog-close class="medium-button" mat-dialog-close="Chess">Chess</button>
    </div>
    <div class="d-flex justify-content-center">
        <p class="p-test2">1 player waiting for 1v1</p>
    </div>
    <div class="d-flex justify-content-center">
        <button mat-button mat-dialog-close class="medium-button" mat-dialog-close="Air Hockey">Air Hockey</button>
    </div>
    <div class="d-flex justify-content-center">
        <p class="p-test2">1 player waiting for 1v1</p>
    </div>
</div>