@import "../../styles/styles.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

.home-wrapper {
    background-image: url("src/styles/images/gameroom.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}