<div class="home-wrapper">
    <div class="d-flex align-items-center" style="height:100vh"> 
        <div class="d-flex flex-column" style="width:100vw">
            <div class="d-flex justify-content-center">
                <button mat-button class="big-button" (click)="handleQueueButtonPressed()">Queue</button>
            </div>
            <div class="d-flex justify-content-center">
                <button mat-button class="big-button" (click)="handlePrivateMatchButtonPressed()">Private Match</button>
            </div>
            <div class="d-flex justify-content-center">
                <button mat-button class="big-button" routerLink="/leaderboard">Leaderboard</button>
            </div>
        </div>
    </div>
</div>
